-- MySQL dump 10.13  Distrib 8.0.33, for Win64 (x86_64)
--
-- Host: localhost    Database: ipsm_healthcare
-- ------------------------------------------------------
-- Server version	8.0.33

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `doctors`
--

DROP TABLE IF EXISTS `doctors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctors` (
  `doctor_id` int NOT NULL AUTO_INCREMENT,
  `doctor_name` varchar(255) NOT NULL,
  `mobile` varchar(15) DEFAULT NULL,
  `address` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`doctor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctors`
--

LOCK TABLES `doctors` WRITE;
/*!40000 ALTER TABLE `doctors` DISABLE KEYS */;
INSERT INTO `doctors` VALUES (2,'Dr. bittu kumar','9034935','20391sflkds, aldsfjl;aksjweoiwiow','2025-12-24 09:17:20');
/*!40000 ALTER TABLE `doctors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patients`
--

DROP TABLE IF EXISTS `patients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `patients` (
  `patient_id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(10) DEFAULT NULL,
  `patient_name` varchar(255) DEFAULT NULL,
  `gender` varchar(10) DEFAULT NULL,
  `age` int DEFAULT NULL,
  `age_unit` varchar(10) DEFAULT NULL,
  `dob` date DEFAULT NULL,
  `mobile` varchar(15) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `address` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`patient_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2004 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patients`
--

LOCK TABLES `patients` WRITE;
/*!40000 ALTER TABLE `patients` DISABLE KEYS */;
INSERT INTO `patients` VALUES (2,'Mr.','bittu kumar','Male',22,'YRS',NULL,'111111111','sfsdfsdf','dwarka','2025-12-24 08:48:48'),(2000,'Mr.','IPSM','Female',24,'YRS',NULL,'+91','@GMAIL.COM','DSD','2026-01-17 10:32:05'),(2001,'Mr.','neha kumari','Female',23,'YRS',NULL,'564657768778','asdfa454','sdfsfytyjt','2026-01-17 11:12:07'),(2002,'Mr.','kittu','Male',17,'YRS',NULL,'+91 9809538390','laskdfjwoi','hajipur','2026-01-17 12:43:02'),(2003,'Mr.','aaa','Male',22,'YRS',NULL,'+91 0000000000','bbbbbbbbb','aaaaaaa','2026-01-23 07:06:37');
/*!40000 ALTER TABLE `patients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registration_tests`
--

DROP TABLE IF EXISTS `registration_tests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `registration_tests` (
  `reg_id` int NOT NULL,
  `test_code` varchar(20) NOT NULL,
  `status` varchar(20) DEFAULT 'Pending',
  PRIMARY KEY (`reg_id`,`test_code`),
  KEY `test_code` (`test_code`),
  CONSTRAINT `registration_tests_ibfk_1` FOREIGN KEY (`reg_id`) REFERENCES `registrations` (`reg_id`),
  CONSTRAINT `registration_tests_ibfk_2` FOREIGN KEY (`test_code`) REFERENCES `tests` (`test_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registration_tests`
--

LOCK TABLES `registration_tests` WRITE;
/*!40000 ALTER TABLE `registration_tests` DISABLE KEYS */;
INSERT INTO `registration_tests` VALUES (2,'ES001','Pending'),(3,'P034','Pending'),(4,'ES001','Pending'),(4,'HM004','Pending'),(5,'BC206','Pending'),(5,'ES001','Pending'),(5,'HM001','Pending'),(6,'ES001','Pending'),(6,'HM001','Pending'),(7,'P174','Pending'),(8,'HM001','Pending'),(9,'BC207','Pending'),(9,'HM006','Pending'),(10,'BC206','Pending'),(10,'HM001','Pending'),(11,'IPSMP02','Done'),(11,'IPSMP03','Done'),(12,'IPSMP010','Done'),(12,'IPSMP09','Done'),(13,'IPSMP06','Done'),(13,'IPSMP07','Done');
/*!40000 ALTER TABLE `registration_tests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registrations`
--

DROP TABLE IF EXISTS `registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `registrations` (
  `reg_id` int NOT NULL AUTO_INCREMENT,
  `patient_id` int DEFAULT NULL,
  `doctor_id` int DEFAULT NULL,
  `reg_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `total_amount` decimal(10,2) DEFAULT NULL,
  `paid_amount` decimal(10,2) DEFAULT NULL,
  `balance_amount` decimal(10,2) DEFAULT NULL,
  `payment_mode` varchar(50) DEFAULT NULL,
  `remarks` text,
  PRIMARY KEY (`reg_id`),
  KEY `patient_id` (`patient_id`),
  KEY `doctor_id` (`doctor_id`),
  CONSTRAINT `registrations_ibfk_1` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`patient_id`),
  CONSTRAINT `registrations_ibfk_2` FOREIGN KEY (`doctor_id`) REFERENCES `doctors` (`doctor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registrations`
--

LOCK TABLES `registrations` WRITE;
/*!40000 ALTER TABLE `registrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tests`
--

DROP TABLE IF EXISTS `tests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tests` (
  `test_code` varchar(20) NOT NULL,
  `test_name` varchar(255) NOT NULL,
  `cutoff` varchar(100) DEFAULT NULL,
  `report_time` varchar(100) DEFAULT NULL,
  `special_price` decimal(10,2) DEFAULT NULL,
  `mrp` decimal(10,2) DEFAULT NULL,
  `category` varchar(100) DEFAULT 'Pathology',
  `is_custom` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`test_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tests`
--

LOCK TABLES `tests` WRITE;
/*!40000 ALTER TABLE `tests` DISABLE KEYS */;
/*!40000 ALTER TABLE `tests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(50) NOT NULL,
  `department` varchar(100) DEFAULT NULL,
  `reg_new` tinyint(1) DEFAULT '1',
  `reg_edit` tinyint(1) DEFAULT '1',
  `reg_manage` tinyint(1) DEFAULT '1',
  `inv_status` tinyint(1) DEFAULT '1',
  `inv_reprint` tinyint(1) DEFAULT '1',
  `rep_outstanding` tinyint(1) DEFAULT '1',
  `rep_summary` tinyint(1) DEFAULT '1',
  `rep_ledger` tinyint(1) DEFAULT '1',
  `rep_business` tinyint(1) DEFAULT '1',
  `rep_sales` tinyint(1) DEFAULT '1',
  `test_status` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','$2a$10$jf57d/JafEeirp3NL4mHvOkvwbOP0ssvkEV0ajM4Fgb9zks2ptZd.','ADMIN',NULL,1,1,1,1,1,1,1,1,1,1,0),(9,'neha','$2a$10$bg6Pu6JQOBwHKH6Gpm3QDun7ONKeyIP07n5QhLL6naNxu4v2FQHh.','RECEPTIONIST',NULL,1,0,0,0,0,0,0,0,0,0,0);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-02 11:26:37
